body{
    margin: 0;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.top-container{
    background-color: #2C74B3;
    color: #ffffff;
    padding: 20px;
}
#input-el{
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    width: 120px;
    height: 50px;
    padding: 20px 5px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    background-color: transparent;
}
#convert-btn{
    display: block;
    margin: 40px auto;
    padding: 10px 30px;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
#convert-btn:active{
    box-shadow: 5px 5px 8px #000;
}
.main-container{
    background-color: #16213E;
    padding: 20px 10px;

}
.data{
    color: #CDF0EA;
    padding: 20px 20px;
    background-color: #0F3460;
    display: block;
    margin: 20px auto;
    width: 300px;
    letter-spacing: 1px;
    box-shadow: 5px 5px 8px #000;
    border-radius: 4px;
}
.data h2{
    margin: 2px;
}